
   [data-parallax='container'] {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 300px;
    perspective-origin: center;
  }
  
  [data-parallax='group'] {
    height: 500px;
    position: relative;
    transform-style: preserve-3d;
  }
  
  [data-parallax='layer'] {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform-origin: center;
  }
  
  [data-parallax='none'] {
    position: relative;
    transform: translateZ(0);
    z-index: 10;
  }
  
  [data-parallax-speed='front'] {
    transform: translateZ(90px) scale(0.7);
    z-index: 1;
  }
  
  [data-parallax-speed='base'] {
    transform: translateZ(0);
    z-index: 4;
  }
  
  [data-parallax-speed='slow'] {
    transform: translateZ(-300px) scale(2);
    z-index: 3;
  }
  
  [data-parallax-speed='slower'] {
    transform: translateZ(-600px) scale(3);
    z-index: 2;
  }
  
  [data-parallax-speed='slowest'] {
    transform: translateZ(-900px) scale(4);
    z-index: 1;
  }
  
 
  
 
  
 
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: sans-serif;
    font-size: 125%;
    line-height: 1.5;
    color: #333;
  }
  
  h2,
  p {
    max-width: 40rem;
  }
  
 
 
  [data-image='captain-america'],
  [data-image='scarlet-witch'],
  [data-image='black-widow'],
  [data-image='vision'],
  [data-image='iron-man'] {
    width: 20vw;
    background-size: cover;
    background-position: top center;
  }
  
  [data-image='captain-america'] {
    left: -120vw;
    background-image: url(https:i.pinimg.com/736x/cb/06/a3/cb06a3fa7b8eed14d9b7d77d7af08b98.jpg);
    background-position: 30% 0%;
  }
  
  [data-image='scarlet-witch'] {
    left: -20vw;
    background-image: url(https:i.pinimg.com/564x/99/4b/8f/994b8fddd2e9a27da5bb669e095ee045.jpg);
  }
  
  [data-image='black-widow'] {
    left: 40vw;
    background-image: url(https:i.pinimg.com/564x/f1/03/5d/f1035d9e1bbae8ba4f8232434b7e8d7c.jpg);
  }
  
  [data-image='vision'] {
    left: 100vw;
    background-image: url(https:i.pinimg.com/736x/24/e1/f2/24e1f2187a833943864da3b4e0ea4fcb.jpg);
  }
  
  [data-image='iron-man'] {
    left: 200vw;
    background-image: url(https:i.pinimg.com/564x/f9/55/12/f9551222c6a06f54f46e1d178b83ffe6.jpg);
    background-position: 80% 0%;
  }
  
 
  [data-image='captain-america-2'],
  [data-image='winter-soldier'],
  [data-image='scarlet-witch-2'],
  [data-image='okoye'],
  [data-image='mantis'],
  [data-image='nebula'] {
    width: 32vw;
    height: 48vw;
    margin-top: 120vw;
    left: auto;
    background-size: cover;
    background-position: center top;
  }
  
 
   .plot--content {
    height: 2400px;
    overflow-y: auto;
  }
 
  .preamble,
  .parallax,
  .plot--content,
  footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
   
  }
  
  @media (min-width: 60rem) {
    .preamble,
    .parallax,
    .plot--content,
    footer {
      padding-top: 20vmin;
      padding-bottom: 20vmin;
    }
  }
  
 
  header[data-parallax='group'] {
    height: 100vh;
  }
  
  .title {
    width: 80vw;
    height: fit-content;
    padding: 2rem 0;
    top: 60vh;
    left: 10vw;
    z-index: 10;
    transform: translateZ(-150px) scale(1.5) skewY(-10deg);
    transform-style: preserve-3d;
    background-color: white;
    text-align: center;
  }
  
  .title h1,
  .title h1 span {
    color: #214;
    line-height: 0.85;
    text-transform: uppercase;
  }
  
  .title h1 {
    font-size: 12vw;
    letter-spacing: -0.05em;
  }
  
  .title h1 span {
    display: block;
    font-size: 6vw;
    letter-spacing: 0.24em;
  }
  
  .title p {
    max-width: 100%;
    margin-top: 1ex;
    color: purple;
  }
  
  .title::after {
   
   
    content: '';
    position: absolute;
    top: 5vh;
    right: 0;
    bottom: -5vh;
    left: 0;
    z-index: 1;
    transform: translateZ(-150px) scale(1.25);
    background: rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 2rem rgba(0, 0, 0, 1);
  }
  
 
  .preamble {
    background-color: white;
    box-shadow: 0 0 10vh rgba(0, 0, 0, 0.8);
  }
  
 
  .parallax {
    color: white;
    overflow: hidden;
    background-color: black;
  }
  
  .parallax p {
    text-shadow: 0 0 2px black;
  }
  
  .stars,
  .deep-stars {
    top: -10vh;
    bottom: -10vh;
    z-index: -1;
    background-image: url(https:aepicos.com/codepen/images/blue-star-sky.png);
  }
  
  .stars {
    background-size: 200%;
    background-position: center left;
    opacity: 0.8;
  }
  
  .deep-stars {
    background-size: cover;
    background-position: center;
    opacity: 0.5;
  }
  
 
  .plot {
    height: fit-content;
    padding-bottom: 120vw;
    overflow: hidden;
    background-color: white;
  }
  
  .plot h2 {
    width: 100%;
    margin-bottom: 1ex;
    color: purple;
  }
  
  .plot--content {
    z-index: -10;
  }
  
 
  footer {
    min-height: 100vh;
    text-align: left;
    background-color: mix(black, indigo);
    color: mix(white, indigo, 90%);
  }
  
  footer h3 {
    margin-bottom: 4rem;
    transform: skewY(-10deg);
    font-size: 10vw;
    line-height: 0.85;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: -0.05em;
  }
  
  footer h3 small {
    display: block;
    font-size: 5vw;
    letter-spacing: 0.24em;
  }
  
  footer p {
    width: 70%;
    margin-top: 1em;
  }
  
  footer a {
    color: mix(white, indigo, 70%);
  }
  
 
  .todo {
    padding: 1rem 10vmin;
    color: white;
    background-color: crimson;
    line-height: 1.3;
  }
  


  @import url('https:fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');
html, body { height: 100%}

body {
  align-items: center;
  font-family: 'Open Sans', sans;
  justify-content: center;
  overflow: hidden;
  perspective: 1800px;
  text-align: center;
}

h1 {
  color: #3e3e42;
  font-size:32px;
  font-weight: 800;
  letter-spacing: -1px;
  margin-bottom: 30px;
  transform: translateZ(35px);
}

h3 {
  color: #eb285d;
  font-size: 16px;
  margin-bottom: 6px;
  transform: translateZ(25px);
}

.cards {
  margin-top: 20rem;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0px 10px 20px 20px rgba(0,0,0,0.17);
  display: inline-block;
  padding: 30px 35px;
  perspective: 1800px;
  text-align: left;
  transform-origin: 50% 50%;
  transform-style: preserve-3d;
  transform: rotateX(11deg) rotateY(16.5deg);
  min-width: 595px;
}

.card {  
  border-radius: 15px;
  box-shadow: 5px 5px 20px -5px rgba(0,0,0,0.6);
   cursor: pointer;
  display: inline-block;
  height: 250px;
  overflow: hidden;
  perspective: 1200px;
  position: relative;
  transform-style: preserve-3d;
  transform: translatez(35px);
  transition: transform 200ms ease-out;
  width: 175px;
  text-align: center;
  
   &:hover {
     box-shadow: 5px 5px 20px -7px rgba(0,0,0,0.5);
     transform: translatez(60px);
   }
  
  &:not(:last-child) {
    margin-right: 30px;
  }
}

.card__img {
  position: relative;
  height: 100%;
}

.card__bg {
  bottom: -50px;
  left: -50px;
  position: absolute;
  right: -50px;
  top: -50px;
  transform-origin: 50% 50%;
  transform: translateZ(-50px);
  z-index: 0;
}

.card__one {
  .card__img {
    top: 14px;
    right: -10px;
    height: 110%;
  }
  .card__bg {
    background: url('https://www.themoviedb.org/t/p/original/OAXCENRg0smntp0uPhTQMPxs0O.jpg') center / cover no-repeat;
  }
  .card__text {
    background-color: #254b60;
  }
}

.card__two {
  .card__img {
    top: 25px;
  }
  .card__bg {
    background: url('https://d3idt3y1vhsqn9.cloudfront.net/wp-content/uploads/2014/06/MANG6009_DVD_One_Piece_Movie_2D.jpg') center / cover no-repeat;
  }
  .card__text {
    background-color: #274a2e;
  }
}

.card__three {
  .card__img {
    top: 5px;
    left: -4px;
    height: 110%;
  }
  .card__bg {
    background: url('https://i.ebayimg.com/images/g/IUMAAOSwBXJjaUK-/s-l1200.jpg') center / cover no-repeat;
  }
  .card__text {
    background-color: #3e2222;
  }
}

.card__text {
  align-items: center;
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.55) 100%);
  bottom: 0;
  display: flex;
  flex-direction: column; 
  height: 70px;
  justify-content: center;
  position: absolute;
  width: 100%;
  z-index: 2;
}

.card__title {
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  padding: 0 10px;
  margin-bottom: 3px;
}

.notice {
  background: gold;
  border-top-left-radius: 6px;
  bottom: 0;
  font-family: monospace;
  font-size: 14px;
  padding: 8px 10px;
  position: absolute;
  right: -20px;
}

.twitter__link {
  cursor: pointer;
  position: absolute;
  right: -10px;
  top: 12px;
  z-index: -1;
  background: #00aced;
  border-radius: 20px;
  height: 30px;
  text-decoration: none;
  padding-right: 10px;
  justify-content: space-between;
  font-weight: 600;
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 14px;
  width: 74px;
  opacity: 0.4;
  
  &:hover {
    opacity: 1;
  }
}

.twitter__icon {
  height: 30px;
}




.image-container {
  margin-top: 900px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.image-container img {
  width: 100%;
  height: 50%;
  object-fit: cover;
  object-position: top;
  transition: box-shadow 0.3s ease, transform 0.3s ease, width 0.3s ease;
  display: block;
}






.image-container img:hover {
  transform: scale(1.1);
  opacity: 1;
}

.cards {
  margin-top: 400px;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0px 10px 20px 20px rgba(0,0,0,0.17);
  display: inline-block;
  padding: 30px 35px;
  perspective: 1800px;
  text-align: left;
  transform-origin: 50% 50%;
  transform-style: preserve-3d;
  transform: rotateX(11deg) rotateY(16.5deg);
  min-width: 595px;
  margin-bottom: -1000px;
}


.plot {
  height: fit-content;
  padding-bottom: 0;
  overflow: hidden;
  background-color: white;
}


iframe {
  border-radius: 20px;
  display: block;

  height: 720px;
  margin: 0 auto;
}


section {
  margin: 0;
  padding: 0;
}


footer {
  text-align: center;
  margin-top: 20px;
}

footer h3 {
  font-size: 2em;
  color: #3e3e3e;
  transition: transform 0.3s ease, text-shadow 0.3s ease;
}


footer h3:hover {
  transform: perspective(500px) rotateX(10deg) rotateY(10deg);
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}